apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.3.0
  creationTimestamp: null
  name: gitbranches.git.flanksource.com
spec:
  group: git.flanksource.com
  names:
    kind: GitBranch
    listKind: GitBranchList
    plural: gitbranches
    singular: gitbranch
  scope: Namespaced
  validation:
    openAPIV3Schema:
      description: GitBranch is the Schema for the gitbranches API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: GitBranchSpec defines the desired state of GitBranch
          properties:
            branchName:
              type: string
            repository:
              type: string
          required:
          - branchName
          type: object
        status:
          description: GitBranchStatus defines the observed state of GitBranch
          properties:
            head:
              description: The Git SHA1 of the main/master branch
              type: string
            lastUpdated:
              format: date-time
              type: string
          type: object
      type: object
  version: v1
  versions:
  - name: v1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.3.0
  creationTimestamp: null
  name: gitpullrequests.git.flanksource.com
spec:
  group: git.flanksource.com
  names:
    kind: GitPullRequest
    listKind: GitPullRequestList
    plural: gitpullrequests
    singular: gitpullrequest
  scope: Namespaced
  validation:
    openAPIV3Schema:
      description: GitPullRequest is the Schema for the gitpullrequests API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: GitPullRequestSpec defines the desired state of GitPullRequest
          properties:
            base:
              type: string
            body:
              type: string
            fork:
              type: string
            head:
              type: string
            id:
              type: string
            ref:
              type: string
            repository:
              description: Full repository name including owner
              type: string
            reviewers:
              description: Update to add or remove reviewers from the pull request
              items:
                type: string
              type: array
            sha:
              type: string
            title:
              type: string
          type: object
        status:
          description: GitPullRequestStatus defines the observed state of GitPullRequest
          properties:
            approvers:
              additionalProperties:
                type: boolean
              type: object
            author:
              type: string
            url:
              type: string
          type: object
      type: object
  version: v1
  versions:
  - name: v1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.3.0
  creationTimestamp: null
  name: gitrepositories.git.flanksource.com
spec:
  group: git.flanksource.com
  names:
    kind: GitRepository
    listKind: GitRepositoryList
    plural: gitrepositories
    singular: gitrepository
  scope: Namespaced
  validation:
    openAPIV3Schema:
      description: GitRepository is the Schema for the gitrepositories API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: GitRepositorySpec defines the desired state of GitRepository
          properties:
            github:
              properties:
                owner:
                  type: string
                repository:
                  type: string
                secretRef:
                  description: SecretReference represents a Secret Reference. It has
                    enough information to retrieve secret in any namespace
                  properties:
                    name:
                      description: Name is unique within a namespace to reference
                        a secret resource.
                      type: string
                    namespace:
                      description: Namespace defines the space within which the secret
                        name must be unique.
                      type: string
                  type: object
              type: object
          type: object
        status:
          description: GitRepositoryStatus defines the observed state of GitRepository
          properties:
            head:
              description: The Git SHA1 of the main/master branch
              type: string
            lastUpdated:
              format: date-time
              type: string
          type: object
      type: object
  version: v1
  versions:
  - name: v1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: git-operator-manager
  namespace: platform-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: git-operator-leader-election
  namespace: platform-system
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - configmaps/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  name: git-operator-manager
  namespace: platform-system
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: git-operator-manager
rules:
- apiGroups:
  - git.flanksource.com
  resources:
  - gitbranches
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - git.flanksource.com
  resources:
  - gitbranches/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - git.flanksource.com
  resources:
  - gitpullrequests
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - git.flanksource.com
  resources:
  - gitpullrequests/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - git.flanksource.com
  resources:
  - gitrepositories
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - git.flanksource.com
  resources:
  - gitrepositories/status
  verbs:
  - get
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: git-operator-leader-election
  namespace: platform-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: git-operator-leader-election
subjects:
- kind: ServiceAccount
  name: git-operator-manager
  namespace: platform-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: git-operator-manager
  namespace: platform-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: git-operator-manager
subjects:
- kind: ServiceAccount
  name: git-operator-manager
  namespace: platform-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: git-operator-manager
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: git-operator-manager
subjects:
- kind: ServiceAccount
  name: git-operator-manager
  namespace: platform-system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    control-plane: git-operator
  name: git-operator-controller-manager
  namespace: platform-system
spec:
  replicas: 1
  selector:
    matchLabels:
      control-plane: git-operator
  template:
    metadata:
      labels:
        control-plane: git-operator
    spec:
      containers:
      - args:
        - --secure-listen-address=0.0.0.0:8443
        - --upstream=http://127.0.0.1:8080/
        - --logtostderr=true
        - --v=10
        image: gcr.io/kubebuilder/kube-rbac-proxy:v0.5.0
        name: kube-rbac-proxy
        ports:
        - containerPort: 8443
          name: https
      - args:
        - --metrics-addr=127.0.0.1:8080
        - --enable-leader-election
        - --log-level=debug
        command:
        - /manager
        image: flanksource/git-operator:v1
        imagePullPolicy: IfNotPresent
        name: manager
        resources:
          limits:
            cpu: 100m
            memory: 150Mi
          requests:
            cpu: 100m
            memory: 128Mi
      serviceAccountName: git-operator-manager
      terminationGracePeriodSeconds: 10
