
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.0
  creationTimestamp: null
  name: gitopsapis.git.flanksource.com
spec:
  group: git.flanksource.com
  names:
    kind: GitopsAPI
    listKind: GitopsAPIList
    plural: gitopsapis
    singular: gitopsapi
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: GitopsAPI is the Schema for the gitopsapis API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: GitopsAPISpec defines the desired state of GitopsAPI
            properties:
              branch:
                type: string
              gitAssignee:
                items:
                  type: string
                type: array
              gitEmail:
                type: string
              gitRepository:
                description: The repository URL, can be a HTTP or SSH address.
                pattern: ^(http|https|ssh)://
                type: string
              gitTags:
                items:
                  type: string
                type: array
              gitUser:
                type: string
              kustomization:
                description: The path to a kustomization file to insert or remove
                  the resource, can included templated values .e.g `specs/clusters/{{.cluster}}/kustomization.yaml`
                type: string
              path:
                description: The path to save the resource into, should including
                  templating to make it unique per cluster/namespace/kind/name tuple
                  e.g. `specs/clusters/{{.cluster}}/{{.name}}.yaml`
                type: string
              pullRequest:
                type: boolean
              reviewers:
                description: List of github users which should approve the namespace
                  request
                items:
                  type: string
                type: array
              secretRef:
                description: The secret name containing the Git credentials. For SSH
                  repositories the secret must contain SSH_PRIVATE_KEY, SSH_PRIVATE_KEY_PASSORD
                  For Github repositories it must contain GITHUB_TOKEN
                properties:
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                      TODO: Add other useful fields. apiVersion, kind, uid?'
                    type: string
                type: object
              tokenRef:
                description: 'The secret name containing the static credential to
                  authenticate agaist either as a `Authorization: Bearer` header or
                  as a `?token=` argument Must contain a key called TOKEN'
                properties:
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                      TODO: Add other useful fields. apiVersion, kind, uid?'
                    type: string
                type: object
            type: object
          status:
            description: GitopsAPIStatus defines the observed state of GitopsAPI
            type: object
        type: object
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
